:root {
  --font-family: "Poligon Light", "Poligon Light Placeholder", sans-serif;
  --letter-spacing: -0.02em;
  --lt-gray-100: #f8f9fc;
  --lt-gray-200: #f1f3f9;
  --lt-gray-300: #dee3ed;
  --lt-gray-500: #8f96a3;
  --lt-gray-600: #5e636e;
  --lt-orange: #B8603B;
  --lt-green: #47b2b2;
}
.dashboard {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #f3f4f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar img {
  width: 40px;
  height: 40px;
}

.sidebar .button{
  background-color: #B8603B;
  color: white;
  border: none;
  padding: 12px;
  margin: 10px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar .button:hover {
  background-color: #9c4d28;
}

.success{
  color: red;
  font-size: 14px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
}

.fileInput {
  display: none;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer; 
  padding: 5px;
  border-radius: 5px;
  
}

.imgRecibo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.imageName {
  font-size: 16px;
  margin: 0;
  margin-left: 10px;
}


.radioSelected {
  appearance: none;
  width: 20px; 
  height: 20px; 
  border: 2px solid #ccc;
  border-radius: 50%; 
  position: relative; 
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.radioSelected:checked {
  border-color: var(--lt-green)
}

.radioSelected:checked::after {
  content: '';
  width: 10px; 
  height: 10px; 
  background-color: var(--lt-green); 
  border-radius: 50%; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.extractedTextContainer {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.extractedTextContainer h3 {
  color: #333;
  margin-bottom: 10px;
}

.extractedTextContainer p {
  color: #555;
  white-space: pre-wrap; /* Isso preserva as quebras de linha */
}
