@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Poligon Light", "Poligon Light Placeholder", sans-serif;
  --letter-spacing: -0.02em;
  --lt-gray-100: #f8f9fc;
  --lt-gray-200: #f1f3f9;
  --lt-gray-300: #dee3ed;
  --lt-gray-500: #8f96a3;
  --lt-gray-600: #5e636e;
  --lt-orange: #B8603B;
  --lt-green: #47b2b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
